//Colors
$color-white: white;
$color-black: black;
$color-gray-600: rgb(113, 127, 166);
$color-purple-500: rgb(118, 108, 241);
$color-blue-950: rgb(31, 46, 85);
$color-blue-700: rgb(56, 42, 225);
$color-blue-150: rgb(214, 255, 255);
$color-blue-100: rgb(224, 232, 255);
$color-blue-50: rgb(247, 249, 255);

//Spacing
$spacing-0: 0;
$spacing-100: .5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-600: 3rem;